@font-face {
  font-family: 'Kievit Web';
  src: url('http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Book.woff') format('woff');
}

.margin-top {
  margin-top: 1em;
}

body {
  margin: 0;
  background-color: rgb(38, 38, 38);
  font-family: 'Kievit Web';
}

body, a, a:visited {
  color: rgb(220, 210, 200);
}

p {
  font-size: 19px;
}

header {
  background-color: #C0BCB2;
  text-align: center;
  padding: 5px;
  line-height: 1.5em;
}

header, header a, header a:visited {
  color: #333;
}

.columns {
  margin: 1em 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.columns p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1, h2 {
  display: inline;
}

h1 {
  margin-top: 0;
}

h3 {
  margin-bottom: 0;
}

#app {
  padding: 0 30px;
}

#photos {
  position: relative;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  margin-bottom: 5px;
}

nav ul li {
  display: inline-block;
  width: 33.33%;
}

.full-width {
  width: 100%;
}

.align-left {
  text-align: left;
}

.align-middle {
  text-align: center;
}

.align-right {
  text-align: right;
}

.aspect-ratio:after {
	content: '';
	display: block;
	padding-top: 35%;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {

}

#map-container {
  height: 0;
  z-index: 999;
}

#map {
  width: 100%;
  height: 100%;

  -webkit-clip-path: url('../#clipping-circle');
  -moz-clip-path: url('../#clipping-circle');
  clip-path: url('../#clipping-circle');
}

#circles {
  position: absolute;
}

#circles circle {
  fill: #747570;
}

#street-view-container {
  position: relative;
}

#street-view-container #real-colors {
  position: absolute;
  right: 10px;
  top: 10px;
}

.color-filters {
  -webkit-filter: grayscale(100%) sepia(30%);
  -moz-filter: grayscale(100%) sepia(30%);
  filter: grayscale(100%) sepia(30%);
}

#photos ol, #photos li {
  margin: 0;
  padding: 0;
}

#photos ol {
 list-style-type: none;
}

#photos li {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

#photos #photo-current {
  transform: translate(0, 0);
}

#photos #photo-south {
  transform: translate(-100%, 0);
}

#photos #photo-north {
  transform: translate(100%, 0);
}

#photos #photo-across {

}

#photos li {
  transition: all 500ms linear;
  box-sizing: border-box;
}

footer {
  text-align: center
}
